{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Follow us on Social Media Widget Custom HTML</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/about.css">
</head>
<body>
    <br><br><br><br><br>
    <div style="padding-top: 80px; max-width: 70%;text-align: center;margin: auto;" class="jumbotron">
        <p>Hello, my name is Hesam Haghpanah. I am the creator Mikrotik Traffic Counter, a tool for calculating internet traffic.</p>
    </div>
<div class="follow-widget">
  <h2>Contact Me</h2>
  <p>Stay updated via social media</p>
  <div class="icons">
  <ul>
    <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
    <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
    <li><a href="https://github.com/h-haghpanah"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://t.me/hesam_haghpanah"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
    <li><a href="mailto:h.haghpanah@outlook.com?Subject=Hello Hesam"><i class="fa fa-at" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCpe-XUKl2ZUr1raylBMYh5Q"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
  </ul>
</div>
</div>
</body>
</html>



{% endblock %}
