{% extends "base.html" %}
{% block content %}


<div  style="text-align:center; margin-top: 50px;">
  <button id="toggle" style="max-width: 150px" type="button" class="btn btn-dark shabnam add">Change Date Range</button>
  <div class="show" style="display: none;">
    <form id="report" name="report" class="inline-form rtl_class form-row" style="justify-content: center; margin-top: 20px;">
    
            <div class="form-row">
            <div class="col-lg-6 col-xl-6 col-sm-12 col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text shabnam">Start Date</div>
                </div>
                <input type="date" name="date1" id="date1" class="form-control" required>
              </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text shabnam">End Date</div>
                </div>
                <input type="date" name="date2" id="date2" class="form-control" required>
              </div>
            </div>
           

          <div class="col-12">

              <div  style="margin: 10px 5px;">
                  <button type="submit" id="report_btn"  class="btn btn-dark btn-xs shabnam" dir="ltr">Report</button>
              </div>
              </div>
          </form>
  </div>
</div>


<div class="card" style="margin-top: 20px;">
  <div class="card-header">
    <h1 class="center" id="title1" style="font-size: large !important;"></span></h1>
  </div>
  <div class="card-body">
    <div class="rtl_class" style="overflow-x:auto;">
      <table class="table table-bordered table-striped">
        <thead>
            <tr class="shabnam">
                <th>Name</th>
                <th>Download</th>
                <th>Upload</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="top_ten_users">
        </tbody>
      </table>
      </div>
  </div>
</div>

<div class="row rtl">
  <div class="card col-lg-6 col-md-6 col-sm-12">
    <div class="card-header">
      <h1 class="shabnam center" style="font-size: large !important;">Destinations</h1>
    </div>
    <div class="card-body">
      <div id="destination_pie_chart"></div>
    </div>
  </div>
  
  <div class="card col-lg-6 col-md-6 col-sm-12">
    <div class="card-header">
      <h1 class="shabnam center" style="font-size: large !important;">Top Users</h1>
    </div>
    <div class="card-body">
      <div id="top_ten_chart" style="direction: ltr;"></div>
    </div>
  </div>
</div>





  <script src="../assets/js/dashboard.js"></script>

{% endblock %}
