{% extends "base.html" %}
{% block content %}
<div  style="text-align:center; margin-bottom: 20px;">
    <button id="toggle" style="max-width: 150px" type="button" class="btn btn-dark shabnam add">اضافه کردن مقصد</button>
    <div class="show" style="display: none;">
      <form id="add_destination" name="add_destinations" class="inline-form rtl_class form-row" style="justify-content: center; margin-top: 20px;">
      
              <div class="form-row">
              <div class="col-lg-3 col-xl-3 col-sm-12 col-md-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text shabnam">نام</div>
                  </div>
                  <input type="text" name="dname"  class="form-control dname shabnam" placeholder="نام" dir="rtl" required>
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text shabnam">توضیحات</div>
                  </div>
                  <input type="text" name="description"  class="form-control description shabnam" placeholder="توضیحات" dir="rtl" required>
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-sm-12 col-md-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text shabnam">رنگ</div>
                  </div>
                  <input style="height: 35px;" name="color" type="color" class="form-control form-control-color" value="#563d7c" title="Choose your color">

                </div>
              </div>
          
          </div>
  
            <div class="col-12">
  
                <div  style="margin: 10px 5px;">
                    <button type="submit"  class="btn btn-dark btn-xs shabnam" dir="rtl">افزودن</button>
                </div>
                </div>
            </form>
    </div>
  </div>



  
  <h5>مقصد ها</h5>
  <div class="rtl_class" style="overflow-x:auto;">
      <br>
    <table class="table table-bordered table-striped">
      <thead>
          <tr class="shabnam table-header-destination">
  
          </tr>
      </thead>
      <tbody class="destination-table">
    
      </tbody>
    </table>
    </div>

<br>
    <div  style="text-align:center; margin-bottom: 20px;">
        <button id="toggle2" style="max-width: 150px" type="button" class="btn btn-dark shabnam add">اضافه کردن آدرس</button>
        <div class="show2" style="display: none;">
          <form id="add_address" name="add_address" class="inline-form rtl_class form-row" style="justify-content: center; margin-top: 20px;">
          
                  <div class="form-row">
                    <div class="col">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text shabnam">آدرس</div>
                        </div>
                        <input type="number" name="mask" class="form-input form-control mask shabnam editable" style="max-width: 100px;" min="1" max="32" maxlength="2" placeholder="نت مسک">
                        <span style="font-size: 25px;">/</span>
                      </div>
                    </div>

                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <!-- <div class="input-group-text shabnam">آی پی</div> -->
                      </div>
                      <input type="text" id="ip"  name="ip" class="form-input form-control ip shabnam" placeholder="xxx.xxx.xxx.xxx" required>
                    </div>
                  </div>
    
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text shabnam">مقصد</div>
                      </div>
                      <select id="destination" name="destination" class="form-control shabnam gname" required>
                          
                      </select>
                  </div>
                </div>
    
              </div>
      
                <div class="col-12">
      
                    <div  style="margin: 10px 5px;">
                        <button type="submit"  class="btn btn-dark btn-xs shabnam" dir="rtl">افزودن</button>
                    </div>
                    </div>
                </form>
        </div>
      </div>

    <h5>آدرس ها</h5>
    <div class="rtl_class" style="overflow-x:auto;">
        <br>
      <table class="table table-bordered table-striped">
        <thead>
            <tr class="shabnam table-header-address">
    
            </tr>
        </thead>
        <tbody class="address-table">
      
        </tbody>
      </table>
      </div>







<script src="../assets/js/destinations.js"></script>
  <link rel="stylesheet" href="..//assets/css/destinations.css">
{% endblock %}
