{% extends "base.html" %}
{% block content %}

<div  style="text-align:center; margin-bottom: 20px;margin-top:50px">
  <button id="toggle" style="max-width: 150px" type="button" class="btn btn-dark shabnam add">Add device</button>
  <div class="show" style="display: none;">
    <form id="add_device" name="add_device" class="inline-form rtl_class form-row" style="justify-content: center; margin-top: 20px;">
    
            <div class="form-row">
            <div class="col-lg-2 col-xl-2 col-sm-12 col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text shabnam">Name</div>
                </div>
                <input type="text" name="dname"  class="form-control dname shabnam" placeholder="" required>
              </div>
            </div>
            <div class="col-lg-2 col-xl-2 col-sm-12 col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text shabnam">Model</div>
                </div>
                <input type="text" name="model"  class="form-control lname shabnam" placeholder="" required>
              </div>
            </div>
            <div class="col-lg-2 col-xl-2 col-sm-12 col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text shabnam">Type</div>
                </div>
                <select id="type" name="type" class="form-control shabnam gname" required>
                    
                </select>
            </div>
          </div>

          <div class="col-lg-3 col-xl-3 col-sm-12 col-md-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text shabnam">User</div>
              </div>
              <select id="user" name="user" class="form-control shabnam gname" required>
                  
              </select>
          </div>
        </div>

        <div class="col-lg-3 col-xl-3 col-sm-12 col-md-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text shabnam">IP</div>
            </div>
            <input type="text" id="ipv4" name="ip" class="form-input form-control ip shabnam" placeholder="xxx.xxx.xxx.xxx" required>
          </div>
        </div>
          <div class="col-12">

              <div  style="margin: 10px 5px;">
                  <button type="submit"  class="btn btn-dark btn-xs shabnam" >Add</button>
              </div>
              </div>
          </form>
  </div>
</div>
<br><br>
<div  style="text-align:center; margin-bottom: 20px;">
  <button id="toggle2" style="max-width: 150px" type="button" class="btn btn-dark shabnam add">Show Devices</button>
  <div class="show2" style="display: none;">
    <form id="show_devices" name="show_devices" class="inline-form rtl_class form-row" style="justify-content: center; margin-top: 20px;">
  
          <div class="col-lg-3 col-xl-3 col-sm-12 col-md-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text shabnam">User</div>
              </div>
              <select id="users_list" name="user" class="form-control shabnam gname" required>
                  
              </select>
          </div>
        </div>

          <div class="col-12">

              <div  style="margin: 10px 5px;">
                  <button type="submit"  class="btn btn-dark btn-xs shabnam" >Show</button>
              </div>
              </div>
          </form>
  </div>
</div>


<div style="overflow-x:auto;">
    <br>
  <table class="table table-bordered table-striped">
    <thead>
        <tr class="shabnam table-header">

        </tr>
    </thead>
    <tbody class="devices-table">
  
    </tbody>
  </table>
  </div>


  <script src="../assets/js/devices.js"></script>
  <link rel="stylesheet" href="../assets/css/devices.css">
{% endblock %}
